In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Import API key
weather_api_key ="xxxxxxxxxxxxxx"

In [2]:
cities = ["London", "Paris", "Barcelona", "Cork", "Brussels"]

City = []
Lat = []
Lng = []
Max_Temp = []
Humidity = []
Cloudiness = []
Wind_Speed = []
Country = []
Date = []

print("Beginning Data Retrieval")
print("---------------------------")

for city in cities:
    query = (f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={weather_api_key}")
    response = requests.get(query).json()
    
    try:
        City.append(response["name"])
        Lat.append(response["coord"]["lat"])
        Lng.append(response["coord"]["lon"])
        Max_Temp.append(response["main"]["temp_max"])
        Humidity.append(response["main"]["humidity"])
        Cloudiness.append(response["clouds"]["all"])
        Wind_Speed.append(response["wind"]["speed"])
        Country.append(response["sys"]["country"])
        Date.append(response["dt"])
    
        print(f'Processing: {response["name"]}, city ID: {response["id"]}')
        
    
    except:
        print("City not found. Skipping...")
        
    time.sleep(1)
        

print("---------------------------")
print("Data Retrieval Complete")
print("---------------------------")

Beginning Data Retrieval
---------------------------
Processing: London, city ID: 2643743
Processing: Paris, city ID: 2988507
Processing: Barcelona, city ID: 3128760
Processing: Cork, city ID: 2965140
Processing: Brussels, city ID: 2800866
---------------------------
Data Retrieval Complete
---------------------------

In [3]:
weather_data = pd.DataFrame({"City": City,
                            "Lat": Lat,
                            "Lng": Lng,
                            "Max Temp": Max_Temp,
                            "Humidity": Humidity,
                            "Cloudiness": Cloudiness,
                            "Wind Speed": Wind_Speed,
                            "Country": Country,
                            "Date": Date})

weather_data.to_csv(output_data_file)

weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,London,51.5085,-0.1257,279.16,79,100,1.54,GB,1642979959
1,Paris,48.8534,2.3488,276.56,90,2,0.45,FR,1642980320
2,Barcelona,41.3888,2.1590,282.89,85,20,0.45,ES,1642980335
3,Cork,51.8980,-8.4706,281.83,89,75,5.14,IE,1642980380
4,Brussels,50.8504,4.3488,278.54,82,100,2.06,BE,1642980135

In [4]:
weather_data.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000e+00
mean,48.899820,0.052060,279.796000,85.000000,59.400000,1.928000,1.642980e+09
std,4.359376,5.021044,2.557524,4.636809,45.790829,1.927037,1.760702e+02
min,41.388800,-8.470600,276.560000,79.000000,2.000000,0.450000,1.642980e+09
25%,48.853400,-0.125700,278.540000,82.000000,20.000000,0.450000,1.642980e+09
50%,50.850400,2.159000,279.160000,85.000000,75.000000,1.540000,1.642980e+09
75%,51.508500,2.348800,281.830000,89.000000,100.000000,2.060000,1.642980e+09
max,51.898000,4.348800,282.890000,90.000000,100.000000,5.140000,1.642980e+09

In [16]:
try:
    weather_data_clean = weather_data.loc[weather_data["Humidity"] < 100]
    weather_data_clean.describe()
except:
    pass

In [21]:
humidity_indices = list(np.where(weather_data["Humidity"] >= 100)[0])

humidity_indices

[]

In [24]:
clean_city_data = weather_data.drop(index = humidity_indices, inplace=False)
clean_city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,London,51.5085,-0.1257,279.16,79,100,1.54,GB,1642979959
1,Paris,48.8534,2.3488,276.56,90,2,0.45,FR,1642980320
2,Barcelona,41.3888,2.1590,282.89,85,20,0.45,ES,1642980335
3,Cork,51.8980,-8.4706,281.83,89,75,5.14,IE,1642980380
4,Brussels,50.8504,4.3488,278.54,82,100,2.06,BE,1642980135