# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
clean_city_data = pd.read_csv("../output_data/cities.csv")
clean_city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Nanortalik,60.1432,-45.2371,24.71,85,100,4.70,GL,1643403072
1,Makakilo City,21.3469,-158.0858,78.69,63,75,0.00,US,1643403301
2,Yangi Marg`ilon,40.4272,71.7189,36.82,41,100,6.91,UZ,1643403301
3,Bredasdorp,-34.5322,20.0403,63.72,72,54,6.91,ZA,1643403079
4,Mataura,-46.1927,168.8643,59.49,58,95,2.35,NZ,1643403301

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps with API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = clean_city_data[["Lat", "Lng"]].astype(float)

humidity = clean_city_data["Humidity"].astype(float)

In [4]:
# Create a Humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Narrow cities list based on ideal weather conditions
ideal_cities = clean_city_data.loc[((clean_city_data["Max Temp"] > 68) & 
                                   (clean_city_data["Max Temp"] < 80) & 
                                   (clean_city_data["Wind Speed"] < 10) & 
                                   (clean_city_data["Cloudiness"] == 0)), :]

ideal_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,Beroroha,-21.6667,45.1667,77.20,71,0,1.97,MG,1643403304
37,Ancud,-41.8697,-73.8203,78.33,60,0,9.53,CL,1643403309
54,Cape Town,-33.9258,18.4232,68.41,72,0,8.01,ZA,1643403373
69,Carnarvon,-24.8667,113.6333,69.87,94,0,6.91,AU,1643403376
157,Caravelas,-17.7125,-39.2481,79.11,77,0,9.01,BR,1643403517
190,Geraldton,-28.7667,114.6000,70.21,83,0,9.22,AU,1643403584
247,Sur,22.5667,59.5289,69.30,58,0,4.25,OM,1643403659
281,Azul,-36.7770,-59.8585,78.35,45,0,5.97,AR,1643403729
295,Junín,-34.5838,-60.9433,79.84,35,0,6.44,AR,1643403592
328,Chabahar,25.2919,60.6430,70.32,65,0,8.19,IR,1643403801
371,Calvinia,-31.4707,19.7760,74.59,38,0,6.82,ZA,1643403872
414,Beloha,-25.1667,45.0500,71.10,88,0,9.62,MG,1643403943
564,Gunjur,13.2019,-16.7339,73.47,68,0,6.91,GM,1643404162

In [6]:
#Drop rows with null values
hotel_df = ideal_cities.dropna(how = "any")

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,Beroroha,-21.6667,45.1667,77.20,71,0,1.97,MG,1643403304
37,Ancud,-41.8697,-73.8203,78.33,60,0,9.53,CL,1643403309
54,Cape Town,-33.9258,18.4232,68.41,72,0,8.01,ZA,1643403373
69,Carnarvon,-24.8667,113.6333,69.87,94,0,6.91,AU,1643403376
157,Caravelas,-17.7125,-39.2481,79.11,77,0,9.01,BR,1643403517
190,Geraldton,-28.7667,114.6000,70.21,83,0,9.22,AU,1643403584
247,Sur,22.5667,59.5289,69.30,58,0,4.25,OM,1643403659
281,Azul,-36.7770,-59.8585,78.35,45,0,5.97,AR,1643403729
295,Junín,-34.5838,-60.9433,79.84,35,0,6.44,AR,1643403592
328,Chabahar,25.2919,60.6430,70.32,65,0,8.19,IR,1643403801
371,Calvinia,-31.4707,19.7760,74.59,38,0,6.82,ZA,1643403872
414,Beloha,-25.1667,45.0500,71.10,88,0,9.62,MG,1643403943
564,Gunjur,13.2019,-16.7339,73.47,68,0,6.91,GM,1643404162

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
#Create column in data frame for hotel name
hotel_df["Hotel Name"] = ""

#Set parameters for hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "keyword": "hotel",
    "key": g_key
}

#Loop through data frame to call
for index, row in hotel_df.iterrows():
    # Get latitude and longitude from dataframe
    lat = row["Lat"]
    lng = row["Lng"]

    # Change location each iteration of loop
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and location coordinates
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and convert to JSON
    name_address = requests.get(base_url, params=params).json()
    
    #Exception handling for any missing data
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        
    except (KeyError, IndexError):
        print(f"No data available. Skipping location")

hotel_df

No data available. Skipping location
No data available. Skipping location

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
14,Beroroha,-21.6667,45.1667,77.20,71,0,1.97,MG,1643403304,
37,Ancud,-41.8697,-73.8203,78.33,60,0,9.53,CL,1643403309,Panamericana Hotel Ancud
54,Cape Town,-33.9258,18.4232,68.41,72,0,8.01,ZA,1643403373,"Radisson Blu Hotel Waterfront, Cape Town"
69,Carnarvon,-24.8667,113.6333,69.87,94,0,6.91,AU,1643403376,Carnarvon Hotel
157,Caravelas,-17.7125,-39.2481,79.11,77,0,9.01,BR,1643403517,Pousada dos Navegantes
190,Geraldton,-28.7667,114.6000,70.21,83,0,9.22,AU,1643403584,Ocean Centre Hotel
247,Sur,22.5667,59.5289,69.30,58,0,4.25,OM,1643403659,Sur Plaza Hotel
281,Azul,-36.7770,-59.8585,78.35,45,0,5.97,AR,1643403729,Gran Hotel Azul
295,Junín,-34.5838,-60.9433,79.84,35,0,6.44,AR,1643403592,PIEDRAMORA Hotel & Convention Center
328,Chabahar,25.2919,60.6430,70.32,65,0,8.19,IR,1643403801,Hotel sudos
371,Calvinia,-31.4707,19.7760,74.59,38,0,6.82,ZA,1643403872,Calvinia Hotel by Country Hotels
414,Beloha,-25.1667,45.0500,71.10,88,0,9.62,MG,1643403943,
564,Gunjur,13.2019,-16.7339,73.47,68,0,6.91,GM,1643404162,"Footsteps Eco Lodge, The Gambia"

In [8]:
#Drop rows where no hotel data was found
hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
37,Ancud,-41.8697,-73.8203,78.33,60,0,9.53,CL,1643403309,Panamericana Hotel Ancud
54,Cape Town,-33.9258,18.4232,68.41,72,0,8.01,ZA,1643403373,"Radisson Blu Hotel Waterfront, Cape Town"
69,Carnarvon,-24.8667,113.6333,69.87,94,0,6.91,AU,1643403376,Carnarvon Hotel
157,Caravelas,-17.7125,-39.2481,79.11,77,0,9.01,BR,1643403517,Pousada dos Navegantes
190,Geraldton,-28.7667,114.6000,70.21,83,0,9.22,AU,1643403584,Ocean Centre Hotel
247,Sur,22.5667,59.5289,69.30,58,0,4.25,OM,1643403659,Sur Plaza Hotel
281,Azul,-36.7770,-59.8585,78.35,45,0,5.97,AR,1643403729,Gran Hotel Azul
295,Junín,-34.5838,-60.9433,79.84,35,0,6.44,AR,1643403592,PIEDRAMORA Hotel & Convention Center
328,Chabahar,25.2919,60.6430,70.32,65,0,8.19,IR,1643403801,Hotel sudos
371,Calvinia,-31.4707,19.7760,74.59,38,0,6.82,ZA,1643403872,Calvinia Hotel by Country Hotels
564,Gunjur,13.2019,-16.7339,73.47,68,0,6.91,GM,1643404162,"Footsteps Eco Lodge, The Gambia"

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
# Create hotel symbol layer using above template info
hotel_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

#Create map and add layers
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))